/* Whole page styles*/

section {
    text-align: left;
    width: 100%;
}

h2 {
    width: 100%;
}

/* Logo */

.logo {
    text-align: center;
    width: 80%;
    margin-bottom: 10%;
}

/* Social Section */

.description > p {
    margin-left: 5%;
}

.socials > div {
    display: flex;
    justify-content: space-around;
}

.socials > div > div > a{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
    height: auto;
}
/* Events Section */

.events > div{
    width: 80%;
    margin: 5%;
}

.tightEvent {
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.tightEvent a{
    width: auto;
    margin: 0% 10% 0% 10%;
    background-color: #6F4522;
    color: white;
    padding: 8px 15px 10px 15px ;
}
