body {
    text-align: center;
    color: black;
    background-color: white;
}

.App > div {
    width: 80%;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    text-align: left;
    width: 100%;
}

a {
    color: black;
}